NB.CheckingAccount/NB.CheckingAccount.API/obj/
NB.CheckingAccount/NB.CheckingAccount.Domain/obj/
NB.CheckingAccount/NB.CheckingAccount.Infrastructure/obj/
NB.CheckingAccount/NB.CheckingAccount.Repository/bin/
NB.CheckingAccount/.vs/
NB.CheckingAccount/bin/
NB.CheckingAccount/NB.CheckingAccount.API/bin/
NB.CheckingAccount/NB.CheckingAccount.Domain/bin/
NB.CheckingAccount/NB.CheckingAccount.Repository/obj/
NB.Registration/.vs/
NB.Registration/NB.Registration.API/bin/
NB.Registration/NB.Registration.API/obj/
NB.Registration/NB.Registration.Domain/bin/
NB.Registration/NB.Registration.Domain/obj/
NB.Registration/NB.Registration.Infrastructure/obj/
NB.Registration/NB.Registration.Repository/bin/
NB.Registration/NB.Registration.Repository/obj/
NB.Registration/obj/
