<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Support-Packages" value="https://new-bank.pkgs.visualstudio.com/_packaging/Support-Packages/nuget/v3/index.json" protocolVersion="3" />    
  </packageSources>
  <packageSourceCredentials>
    <Support-Packages>
      <add key="Username" value="murilo.paxi@gmail.com" />
      <add key="ClearTextPassword" value="ehi@2010" />
    </Support-Packages>
  </packageSourceCredentials>
</configuration>